/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
}


.video-controls,
.video-timer,
.options 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container
{
    width: 98%;
    user-select: none;
    overflow: hidden;
    max-width: 900px;
    border-radius: 5px;
    background: #000;
    aspect-ratio: 16 / 9;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 0.1);
}

.container.fullscreen
{
    max-width: 100%;
    width: 100%;
}

.wrapper
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    z-index: 1;
    opacity: 0;
    
    transition: all 0.08s ease;
}

.container.show-controls .wrapper
{
    bottom: 0;
    opacity: 1;
    
    transition: all 0.13s none;
}

.wrapper::before
{
    content: "";
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: calc(100% + 3%);
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.video-timeline
{
    height: 7px;
    width: 100%;
    cursor: pointer;
}

.video-timeline .progress-area
{
    height: 3px;
    background: rgba(255, 255, 255, 0.6);
}

.progress-area span
{
    position: absolute;
    left: 50%;
    top: -25px;
    font-size: 13px;
    color: #fff;
    transform: translateX(-50%);
}

.progress-area .progress-bar
{
    width: 1%;
    height: 100%;
    position: relative;
    background: #ec1839;
}

.progress-area .progress-bar::before
{
    content: "";
    right: 0;
    top: 50%;
    height: 13px;
    width: 13px;
    background: inherit;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
}

.progress-area span,
.progress-area .progress-bar::before
{
    display: none;
}

.video-timeline:hover .progress-area span,
.video-timeline:hover .progress-area .progress-bar::before
{
    display: block;
}

.video-controls
{
    padding: 5px 20px 10px;
}

.video-controls .options
{
    width: 100%;
}

.video-controls .options:last-child
{
    justify-content: flex-end;
}

.video-controls .options:first-child
{
    justify-content: flex-start;
}

.options button
{
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    background: none;
    cursor: pointer;
    font-size: 19px;
}

.options button:where(i, span)
{
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.options input
{
    height: 4px;
    max-width: 75px;
    accent-color: #ec1839;
}

.options .video-timer
{
    font-size: 14px;
    color: #efefef;
    margin-left: 15px;
}

.video-timer .seperator
{
    font-size: 16px;
    margin: 0 5px;
    font-size: "Open sans";
}

.playback-content
{
    position: relative;
}

.playback-content .speed-options{
    position: absolute;
    bottom: 40px;
    left: -40px;
    width: 70px;
    opacity: 1;
    list-style: none;
    background: #fff;
    border-radius: 4px;
    transition: opacity 0.13s ease;
}

.playback-content .speed-options.show {
    opacity: 1;
    pointer-events: auto;
  }
.speed-options li
{
    cursor: pointer;
    font-size: 14px;
    padding: 5px 0 5px 15px;
}

.speed-options li.active
{
    color: #fff;
    background: #ec1839;
}



.container video
{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 540px)
{
    .wrapper .video-controls
    {
        padding: 3px 10px 7px;
    }    

    .options input,
    .progress-area span
    {
        display: none !important;
    }

    .options button 
    {
        height: 30px;
        width: 30px;
        font-size: 17px;
    }

    .options .video-timer
    {
        margin-left: 5px;
    }

    .options .seperator
    {
        margin: 0 2px;
    }

    .options button :where(i, span)
    {
        line-height: 30px;
    }

    .options button span
    {
        font-size: 21px;
    }

    .options .video-timer,
    .progress-area span,
    .speed-options li
    {
        font-size: 12px;
    }

    .playback-content .speed-options
    {
        width: 70px;
        left: -30px;
        bottom: 30px;
    }

    .speed-options li
    {
        margin: 1px 0;
        padding: 3px 0 3px 10px;
    }

    .right .pic-in-pic
    {
        display: none;
    }
}

.quality-options{
    position: absolute;
    bottom: 40px;
    left: -40px;
    width: 95px;
    opacity: 1;
    list-style: none;
    background: #fff;
    border-radius: 4px;
    transition: opacity 0.13s ease;
    font-size: 14px;
    margin: 1px 0;
    padding: 5px 0 5px 10px;
}

.quality-options li.active{
    color: #fff;
    background: #ec1839;
    padding: 5px 0 5px 10px;
}